:root {
    --Antique_White: #FDFCF8;
    --Platinum: #EEEFE1;
    --Terra_Cotta: #E26266;
    --Eerie_Black: #1C1A1B;
}

.bg-purple {
    background-color: rgba(255, 255, 255, 0.116);
    backdrop-filter: blur(24px);
}

.modal-platinum {
    background-color: var(--Platinum);
    color: var(--Eerie_Black);
}

.bg-platinum {
    background-color: var(--Platinum);
    color: var(--Eerie_Black);
    box-shadow: 3px 0 24px 3px rgba(160, 160, 160, 0.533);
}

.bg-custom-dark {
    background-color: #233c5a;
    color: #f6f6f6;
    box-shadow: 3px 0 24px 3px rgba(160, 160, 160, 0.533);
}

.bg-custom-dark .nav-item.active {
    background-color: #e85959;
    border-radius: 12px;
    margin: 5px;
    color: #f6f6f6;
}

.bg-custom-dark .sidebar-brand-text {
    color: #f6f6f6;
}

.bg-custom-dark-2 {
    background-color: #2c3b42;
    color: #feffff;
    box-shadow: 3px 0 24px 3px rgba(160, 160, 160, 0.533);
}

.bg-custom-dark-2 .nav-item.active {
    background-color: #65b789;
    border-radius: 12px;
    margin: 5px;
    color: #feffff;
}

.bg-custom-dark-2 .sidebar-brand-text {
    color: #f6f6f6;
}

.paginate_button.page-item.active .page-link {
    background-color: #65b789;
    color: #feffff;
}

.paginate_button.page-item .page-link {
    color: #65b789;
}

.btn-warning {
    background-color: #f39200;
    color: #feffff;
}

.footer-sidebar {
    border-radius: 12px;
    background-color: var(--Antique_White);
    margin: 24px;
}

.bg-login-image {
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/78c4af118001599.608076cf95739.jpg');
}

.bg-forgot-password {
    background: url('../images/forgot.jpg');
}

.bg-register-image {
    background-image: url('https://img.freepik.com/free-vector/sign-up-concept-illustration_114360-7965.jpg?w=826&t=st=1712717932~exp=1712718532~hmac=28c810f99a38df1c31f4e775526648ad0ac7e43687b09fba2bc5bdd194a2346e');
}

.bg-custom-light {
    background-color: rgb(236, 236, 236);
}

.modal {
    backdrop-filter: blur(3px);
}

/* custom css for swearalert */

div:where(.swal2-container) {
    backdrop-filter: blur(3px);
}

.sidebar-divider {
    background-color: white;
}

.bg-empty {
    background: rgba(255, 0, 0, 0.911);
}

.text-bold {
    font-weight: 700;
}

/* ganti foto profil */

.position-relative {
    position: relative;
}

.overlayy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 24px;
}

.opacity-50 {
    opacity: .5;
}

.opacity-70 {
    opacity: .7;
}

.toast-cs {
    position: fixed;
    z-index: 9999999;
    bottom: 20px;
    right: -300px;
    /* Start off screen to the right */
    max-width: 100%;
    padding: 10px;
    background-color: #ff2f00;
    color: white;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    animation: slidein .4s forwards;
    display: flex;
}

@keyframes slidein {
    from {
        right: -300px;
        /* Start position off screen to the right */
    }

    to {
        right: 20px;
        /* End position on screen */
    }
}


.loaded {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.loaded span {
    background: rgba(151, 3, 205, 0.745);
    border-radius: 10px;
    width: 5px;
    height: 5px;
}

.loaded span:nth-child(1) {
    animation: loading infinite 1.5s ease-in-out;
}

.loaded span:nth-child(2) {
    animation: loading infinite 1.5s ease-in-out;
    animation-delay: .25s;
}

.loaded span:nth-child(3) {
    animation: loading infinite 1.5s ease-in-out;
    animation-delay: .5s;
}

.loaded span:nth-child(4) {
    animation: loading infinite 1.5s ease-in-out;
    animation-delay: .75s;
}

@keyframes loading {
    0% {
        height: 5px;
        width: 5px;
    }

    50% {
        height: inherit;
        width: 5px;
    }

    100% {
        height: 5px;
        width: 5px;
    }
}

.position-relative:hover .overlayy {
    opacity: 1;
}

.btn-small {
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    line-height: 1.2;
}

.text {
    font-size: 10px;
    font-weight: bold;
}

.error-cs {
    border: 2px solid rgb(226, 0, 0);
}

/* my element */

.rainbow-border {
    width: max-content;
    height: max-content;
    object-fit: cover;
    position: relative;
    display: grid;
    place-items: center;
}

.rainbow-border img {
    border-radius: 50%;
    object-fit: cover;
}

.rainbow-border::before {
    border-radius: 50%;
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    scale: 1.05;
    background: conic-gradient(from 45deg, red, yellow, lime, aqua, blue, magenta, red);
    animation: 3s rotated linear infinite;
    /* box-shadow: 0 0 15px rgb(128, 128, 128); */
}

@keyframes rotated {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

span.text {
    font-size: 16px;
}

.log-content {
    display: flex;
    text-wrap: wrap;
    margin-bottom: 30px;
}

.text-des {
    color: rgb(59, 59, 59);
    font-weight: 600;
}

.modal-body::-webkit-scrollbar {
    display: none;
}

.shadow-warning {
    box-shadow: 0 0 24px rgba(255, 166, 0, 0.671);
}

.card {
    transition: all .2s ease-in-out;
}